
main {
    text-align: center;
    font-family: "SF Pro Display";
    margin-top: 23vh;
    color: white;
}

header{
    font-size: xx-large;
}

h2{
    margin: -0.8em;
    font-size: 3rem;
}
body {
    background-image: url('../img/antao.jpeg');

    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

button {
    margin-top: 10em;
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

