html {
  box-sizing: border-box;
}

/*place the header in the center*/
h1, h2, h3{
  font-family: Roboto, sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
}

/* headings */
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

/* combined selectors */
h1, h2, h3, div form, .nav-link, section, .button, div.desc, .plays {
  text-align: center;
}

.about-row img, .text, nav, .timeline img, .button, .plays {
  width: 100%;
}

a:hover, button, .error {
  background-color: #9A0D06;
}

.read-or-hide, .button {
  cursor: pointer;
}

nav, section {
  margin: 0;
}

div .nav-link, .column, div.gallery {
  float: left;
}

div .nav-link, .label, .btn, .error, .success {
  display: block;
}

div .nav-link, section, .button, .plays, .label, .btn, .error{
  color: white;
}

.timeline img, .like-button, .liked {
  border-radius: 8px;
}

.timeline::after, .container::after, .about-container::after, .row::after, .left::before, .right::before {
  content: '';
}

.timeline::after, footer{
  bottom: 0;
}

.timeline::after, .right, .labelName, .inputName, .labelEmail, .inputEmail, .labelID, .inputID, .btn, .nxt-btn {
  left: 50%;
}

.container::after, .left::before, .right::before {
  z-index: 1;
}

.left::before, .right::before {
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  border: medium solid white;
}

.labelName, .inputName, .labelEmail, .inputEmail, .labelID, .inputID, .btn {
  position: fixed;
  transform: translate(-50%, -50%);
  margin: auto;
}

.btn, .label {
  font-size: larger;
}

.label, .btn, .error, .success {
  padding: 5px;
}

.error, .success {
  width: fit-content;
  height: 50px;
}

/* read more buttons */
.text{
  display: inline;
}

.read-or-hide {
  /* color: rgb(114, 45, 45); */
  color: #ffffff;
  background-color: rgb(114, 45, 45);
  font-size: 1.1em;
  margin-left: 0.5em;
  font-weight: 700;
}

/*Nav Bar*/
nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #490909;
}

/*search bar*/
div form {
  /* float: right; */
  display: flex;
  padding: 12px 12px;
  /* height: 500px; */
  /* width: 500px */
}

/*Nav Bar's color*/
.nav-link{
  padding: 14px 16px;
  text-decoration: none;
}
/*Nav Bar interaction*/
.active {
  background-color: #04AA6D;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Set a background color */
body {
  min-width: 300px;
  background-color: #f2dabb;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* Timeline img size control */
.timeline img {
  height: auto;
}

/* The actual timeline */
.timeline::after {
  position: absolute;
  width: 6px;
  background-color: #490909;
  top: 0;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  right: 30px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  left: 30px;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* About Section*/
section {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  background-color: #9A0D06;
}

/*inherit the page size*/
*, *:before, *:after {
  box-sizing: inherit;
}

/*size of each colomn*/
.column {
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
/*effect and size of card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/*The whole container*/
.about-container {
  padding: 0 15px;
}
/*The way of how container dispaly*/
.about-container::after, .row::after {
  clear: both;
  display: table;
}
/*Card title*/
.title {
  color: grey;
}
/*Card button*/
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #000;
}
/*Card button hover effect*/
.button:hover {
  background-color: #555;
}

/*playGallery*/
div.gallery {
  margin: 35px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 252px;
  background-color: antiquewhite;
  min-width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 250px;
  height:300px;
  min-width: 200px;
  padding: auto;
}

div.desc {
  padding: 15px;
  font-weight: bold;
}

.plays {
  padding: 1em;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position:fixed;
  left: 5px;
}

.like-button {
  font-size: 1rem;
  padding: 5px 10px;
  color:  #fff;
  background-color: #222f3e;
  box-shadow: 0 0 10px #22303f8c;
}

.liked {
  font-weight: bold;
  color:  #fff;
  background-color: #54a0ff;
  box-shadow: 0 0 10px #22303f8c;
}

/*signUp*/
.labelName {
  top: 35%;
}

.inputName {
  size: 100cm;
  top: 40%;
}

.labelEmail {
  top: 45%;
}

.inputEmail {
  top: 50%;
}

.labelID {
  top: 55%;
}

.inputID {
  top: 60%;
}

.btn {
  border-radius: 5px;
  margin: 10px auto;
  top: 65%;
}

/* user login btn */
.nxt-btn {
  top: 75%;
}

.messages{
  display: flex;
  justify-content: center;
  /* margin-top: 90%; */
  position:fixed;
  left: 5px;

}

.success{
  margin: 20%;
  background-color: lightblue;
  color: black;
  margin-top: inherit;
}

/* alert */
.loginAlert {
  background-color: #490909;
  color: white;
}

.flex-container {
  display: block;
}

@media screen and (max-width: 324px) {
  body {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  p, a, #searchInput {
    font-size: larger;
  }

  h1, h2, h3 {
    font-size: xx-large;
  }

  /*resize the screen*/
  .column, .container {
    width: 100%;
  }

  .column {
    display: block;
  }

  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }

  /* Full-width containers */
    .container {
      padding-left: 70px;
      padding-right: 25px;
    }

  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }

  /* Make all right containers behave like the left ones */
    .right {
      left: 0;
    }
  }